
/* --------------------- Responsive Media Quires css --------------------- */
@media only screen and (max-width: 991px){
    .half-width{
        grid-template-columns: 1fr;
    }
}


  /* Large devices (desktops, 992px and up) */
  @media (max-width: 992px) {
    .logo-slide img {
      display: block;
    }

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    
    .navbar-toggler {
      border-color: rgb(255,102,203);
    }
    .navbar-toggler:focus{
      box-shadow: none;
    }
    
  }
  /* Medium devices (tablets, 768px and up) */
  @media (max-width: 768px) {
    .logo-slide.slick-slide img{
      margin: auto;
    }
  }

  /* Small devices (landscape phones, 576px and up) */
  @media (max-width: 576px) {
    .logo-slide.slick-slide{
      margin-top: 20px;
    }
    .logo-slide.slick-slide img{
      margin: inherit;
    }
    .offcanvas {
      max-width: 80%;
    }
  }